<?xml version='1.0' encoding='utf-8'?>
<widget id="com.recabloco.alarme" version="1.0.2" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>AlarmeApp</name>
    <description>
        Um aplicativo de alarme simples e eficaz.
    </description>
    <author email="dev@example.com" href="http://example.com">
        Recabloxo
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <preference name="AndroidXEnabled" value="true" />
        <preference name="android-targetSdkVersion" value="34" />
    </platform>
    
    <!-- Plugins Gratuitos que funcionam bem -->
    <plugin name="cordova-plugin-badge" spec="0.8.8" />
    <plugin name="cordova-plugin-device" spec="2.0.2" />
    <plugin name="cordova-plugin-statusbar" spec="2.4.2" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.2" />
    <plugin name="cordova-plugin-vibration" spec="3.1.1" />

</widget>